In [1]:
### sample data
data=['Hello I am Deepali.',
     'I am learning ML right now.',
     'Its my third year right now.',
     'I am tech person.',
     'I do like movie']

In [2]:
from nltk.corpus import stopwords

In [3]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [4]:
stopwords= set(stopwords.words('english'))

In [5]:
stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [6]:
if 'not' in stopwords:
    stopwords.remove('not') ## TO REMOVE NOT FROM STOPWORDS LIST

In [7]:
##confirming
if 'not' in stopwords:
    print('found')
else:
    print('not found')

not found

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv1= CountVectorizer(stop_words= stopwords) ### here not is  not present

In [10]:
cv2= CountVectorizer()  ### here not is present

In [11]:
x_new1= cv1.fit_transform(data).toarray()

In [12]:
x_new2= cv2.fit_transform(data).toarray()

In [13]:
x_new1.shape

(5, 11)

In [14]:
x_new2.shape

(5, 16)

In [15]:
for i in cv1.get_feature_names():
    print(i,end=',' )

deepali,hello,learning,like,ml,movie,person,right,tech,third,year,

In [16]:
for i in cv2.get_feature_names():
    print(i,end=',')

am,deepali,do,hello,its,learning,like,ml,movie,my,now,person,right,tech,third,year,

In [17]:
import pandas as pd

In [18]:
df1= pd.DataFrame(x_new1,columns=cv1.get_feature_names())

In [19]:
df1

   deepali  hello  learning  like  ml  movie  person  right  tech  third  year
0        1      1         0     0   0      0       0      0     0      0     0
1        0      0         1     0   1      0       0      1     0      0     0
2        0      0         0     0   0      0       0      1     0      1     1
3        0      0         0     0   0      0       1      0     1      0     0
4        0      0         0     1   0      1       0      0     0      0     0

In [20]:
df2= pd.DataFrame(x_new2,columns= cv2.get_feature_names())

In [21]:
df2

,am,deepali,do,hello,its,learning,like,ml,movie,my,now,person,right,tech,third,year
0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0
2,0,0,0,0,1,0,0,0,0,1,1,0,1,0,1,1
3,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
4,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0

# Working on Email Spam Filtering

In [49]:
df = pd.read_csv('sms.tsv',sep='\t',header=None,names=['target','message'])

In [50]:
df.head()

  target                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [51]:
df.shape

(5572, 2)

In [52]:
df.target.unique()

array(['ham', 'spam'], dtype=object)

In [53]:
import re

In [54]:
def clean(x):
    s = re.sub('[^A-Za-z]',' ',x)
    s = re.sub('\s+',' ',s)
    s = s.strip()
    return s.lower()

In [55]:
df['message']= df.message.apply(clean)

In [56]:
df.head()

  target                                            message
0    ham  go until jurong point crazy available only in ...
1    ham                            ok lar joking wif u oni
2   spam  free entry in a wkly comp to win fa cup final ...
3    ham        u dun say so early hor u c already then say
4    ham  nah i don t think he goes to usf he lives arou...

In [57]:
df['target']= df.target.map({'spam':1,'ham':0})

In [58]:
df.head()

   target                                            message
0       0  go until jurong point crazy available only in ...
1       0                            ok lar joking wif u oni
2       1  free entry in a wkly comp to win fa cup final ...
3       0        u dun say so early hor u c already then say
4       0  nah i don t think he goes to usf he lives arou...

In [59]:
from nltk.corpus import stopwords

In [60]:
stopwords= set(stopwords.words('english'))

In [61]:
if 'not' in stopwords:
    stopwords.remove('not')

In [62]:
x= df.message.values
y= df.target.values

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
xtrain, xtest, ytrain, ytest= train_test_split(x,y,test_size=.2, random_state=12)

In [65]:
cv= CountVectorizer(stop_words= stopwords)

In [66]:
cv_train= cv.fit_transform(xtrain).toarray()

In [67]:
cv_test= cv.fit_transform(xtest).toarray()

In [68]:
cv_test

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [69]:
cv_train.shape

(4457, 6712)

In [70]:
###  to get feature names

In [71]:
from sklearn.linear_model import LogisticRegression

In [72]:
log= LogisticRegression()

In [73]:
log.fit(cv_train,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [74]:
score= log.score(cv_test, ytest)

ValueError: X has 3201 features per sample; expecting 6712

In [78]:
test= ['Lets have fun Rio']

In [80]:
cleaned_data= []
for i in test:
    cleaned_data.append(clean(i))

In [81]:
cleaned_data

['lets have fun rio']

In [82]:
test_samples= cv.transform(cleaned_data)

In [83]:
test_samples.shape

(1, 3201)

In [84]:
log.predict(test_samples)

ValueError: X has 3201 features per sample; expecting 6712